@model RegistrationViewModel
@{
    ViewBag.Title = "Register";
}
<h1>Register</h1>

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                        <form class="px-md-2" method="post" asp-controller="Account" asp-action="Register">

                            <div class="form-outline mb-4">
                                <label asp-for="firstName" class="form-label"></label>
                                <input asp-for="firstName" class="form-control" />
                                <span asp-validation-for="firstName"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="lastName" class="form-label"></label>
                                <input asp-for="lastName" class="form-control" />
                                <span asp-validation-for="lastName"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="gender" class="form-label"></label>
                                <input asp-for="gender" class="form-control" />
                                <span asp-validation-for="gender"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="email" class="form-label"></label>
                                <input asp-for="email" class="form-control" />
                                <span asp-validation-for="email"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="password" class="form-label"></label>
                                <input asp-for="password" />
                                <span asp-validation-for="password"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="comfirmPassword" class="form-label"></label>
                                <input asp-for="comfirmPassword" class="form-control" />
                                <span asp-validation-for="comfirmPassword"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="city" class="form-label"></label>
                                <input asp-for="city" class="form-control" />
                                <span asp-validation-for="city"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="state" class="form-label"></label>
                                <input asp-for="state" class="form-control" />
                                <span asp-validation-for="state"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="zipcode" class="form-label"></label>
                                <input asp-for="zipcode" class="form-control" />
                                <span asp-validation-for="zipcode"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="country" class="form-label"></label>
                                <input asp-for="country" class="form-control" />
                                <span asp-validation-for="country"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="intrest" class="form-label"></label>
                                <input asp-for="intrest" class="form-control" />
                                <span asp-validation-for="intrest"></span>

                            </div>
                            <div class="form-outline mb-4">
                                <label asp-for="profilePicture" class="form-label"></label>
                                <input asp-for="profilePicture" class="form-control" />
                                <span asp-validation-for="profilePicture"></span>
                            </div>

                            <button type="submit" value="Register" class="btn btn-success btn-lg mb-1">Submit</button>

                        </form>
                        <a asp-area="" asp-controller="Login" asp-action="Index">Home</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>